<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/output.css">
    <title>Document</title>
</head>
<body class="flex m-0 font-poppins justify-center items-center bg-custom-gray">
    <div class="flex flex-col">
    <div class="flex flex-col md:flex-row">
        <div class="bg-custom-blue bg-opacity-5 items-center justify-center p-24 flex md:w-4/5 rounded-tr-xl rounded-br-xl"> 
           
            <img src="/src/main/resources/static/images/gagdets.png" class="max-w-2xl">
           
        </div>
        <div class="flex flex-col items-center justify-center text-center md:text-left md:ml-6">
            <div class="flex flex-col justify-center">
                <h1 class="font-semibold text-3xl md:text-5xl leading-tight mb-4">
                    Techventory: Simplify Gadget Inventory Management Today!
                </h1>
                <h2 class="font-semibold text-lg md:text-xl mb-3">Welcome to Techventory</h2>
                <p class="text-lg text-justify mb-4 md:text-xl max-w-full md:max-w-2xl">
                    A powerful and intuitive solution to manage, track, and access
                    gadget inventory. Simplify administration, improve stock
                    visibility, and empower users with easy-to-use tools.
                </p>
                <div class="flex w-full justify-center md:justify-start">
                    <a href="#ready-to-get-started">
                    <button id="get-started" class="bg-custom-blue w-60 p-3 text-white rounded-lg text-lg hover:bg-blue-700">Get Started</button>
                </a>
                </div>
            </div>
        </div>
    </div> 
    <div class="bg-white flex flex-col md:flex-row items-center justify-around p-10">
        <div class="flex flex-col justify-center items-center w-full md:w-1/3 mb-6 md:mb-0">
            <div class="bg-custom-gray w-48 h-48 rounded-full p-6 flex flex-col items-center justify-center">
                <img src="/src/main/resources/static/images/usersd.png" class="w-40">
            </div>
            <div class="text-center mt-4">
                <h1 class="font-semibold text-lg">Seamless Login & Registration</h1>
                <p class="max-w-xs md:max-w-md text-lg mt-2">
                    Admins and users can easily login or signup to access followed features
                </p>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center w-full md:w-1/3 mb-6 md:mb-0">
            <div class="bg-custom-gray w-48 h-48 rounded-full p-6 flex flex-col items-center justify-center">
                <img src="/src/main/resources/static/images/dashboard.png" class="w-48">
            </div>
            <div class="text-center mt-4">
                <h1 class="font-semibold text-lg">Comprehensive Admin Dashboard</h1>
                <p class="max-w-xs md:max-w-md text-lg mt-2">
                    View total gadget stocks, manage items with full CRUD functionality, and track inventory efficiently.
                </p>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center w-full md:w-1/3">
            <div class="bg-custom-gray w-48 h-48 rounded-full p-6 flex flex-col items-center justify-center">
                <img src="/src/main/resources/static/images/search.png" class="w-48">
            </div>
            <div class="text-center mt-4">
                <h1 class="font-semibold text-lg">User-Friendly Search Tools</h1>
                <p class="max-w-xs md:max-w-md text-lg mt-2">
                    Empowering users to quickly find what they need with a powerful search bar and detailed gadget listings.
                </p>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:flex-row p-14 justify-around" id="ready-to-get-started">
        <div class="flex flex-col justify-center max-w-3xl">
            <h1 class="text-5xl font-bold">Ready to Get Started?</h1>
            <p class="max-w-md text-lg font-medium text-justify mt-6 mb-8">
                Take control of your gadget inventory today
                Login to access your dashboard or register to
                create a new account and start managing your 
                gadgets effortlessly
            </p>
            <div class="flex w-full justify-center md:justify-start">
                <div class="flex flex-wrap gap-6 mb-6 justify-center md:justify-start">
                    <button class="bg-custom-blue w-60 p-3 text-white rounded-lg text-lg hover:bg-blue-700">Continue as Admin</button>
                    <button class="bg-custom-blue w-60 p-3 text-white rounded-lg text-lg hover:bg-blue-700">Login as User</button>
                    <button class="bg-black w-60 p-3 text-white rounded-lg text-lg hover:bg-slate-600">Create an Account</button>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-6 md:mt-0">
            <img src="/src/main/resources/static/images/51PtFHUPjBL.jpg" class="w-12">
        </div>
    </div>
    <footer class="bg-black text-white pt-8 pb-12">
        <div class="flex flex-col md:flex-row justify-center items-center md:justify-around md:items-start">
            <div class="flex flex-col mb-6 md:mb-0 text-center md:text-left">
                <h1 class="text-2xl font-bold">Contact Us:</h1>
                <p class="text-xl md:text-base">Need help? Reach us at support@techventory.com</p>
                <ol class="list-disc ml-6 text-center md:text-left">
                    <a href=""><li>Facebook</li></a>
                    <a href=""><li>Twitter</li></a>
                    <a href=""><li>LinkedIn</li></a>
                </ol>
            </div>
            <div class="flex flex-col items-center md:items-start justify-center md:justify-start">
                <span class="text-sm text-center md:text-left">
                    <h1 class="text-2xl mb-3">Join our Newsletter!</h1>
                    <input type="text" class="w-64 h-8 rounded-lg text-black p-3" placeholder="Email Address">
                    <p class="mt-4">Copyrights @ 2024 Techventory</p>
                </span>
            </div>
        </div>
    </footer>
    </div>
</div>
</body>
</html>
