<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/output.css">
    <link rel="icon" href="/src/main/resources/static/images/logo solo.png" type="image/x-icon">
    <title>Login</title>

</head>
<body class="bg-custom-gray h-screen flex items-center justify-center">
    <div class="grid grid-cols-2 gap-4 items-center">
        <div class="bg-custom-blue bg-opacity-5 rounded-tr-xl rounded-br-xl h-screen items-center justify-center flex">
            <img src="/src/main/resources/static/images/logo.png" class="">
        </div>
        <div class="bg-black p-4 flex">
            
        </div>
    </div>
    
</body>
</html>